<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spots</title>
  <meta name="author" content="Alicia McKinney" />
  <meta name="keywords" content="Spots, social media" />
  <meta
      name="description"
      content="The landing page for the social media web application, Spots."
    />
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
  <div class="page">
    <header class="header">
      <img class="header__logo" src="<%= require ('./Images/logo.svg')%>" alt="Spots logo">
    </header>
    <main class="content">
      <section class="profile page__section">
        <div class="profile__avatar-container">
          <button class="profile__avatar-button" type="button"><img class="profile__edit-button-icon" src="<%= require ('./Images/whitePen.svg')%>" alt="pencil icon"></button>
          <img class="profile__avatar" src="<%= require ('./Images/avatar.jpg')%>" alt="Image of Bessie Coleman">
        </div>
        <div class="profile__column">
          <h1 class="profile__name">Bessie Coleman</h1>
          <p class="profile__description">Civil Aviator</p>
          <button class="profile__edit-button" type="button"><img class="profile__edit-button-icon" src="<%= require ('./Images/pen.svg')%>" alt="pencil icon">Edit Profile</button>
        </div>
        <button class="profile__add-button" type="button"><img class="profile__add-button-icon" src="<%= require ('./Images/add-icon.svg')%>" alt="plus icon"> New Post</button>
      </section>
      <section class="cards page__section">
        <ul class="cards__list">
          <template id="card-template">
            <li class="card">
              <button type="button" class="card__delete-button"></button>
              <img class="card__image" src="" alt="">
              <div class="card__content">
                <h2 class="card__title"></h2>
                <span class="card__like-count">0</span>
                <button type="button" class="card__like-button"></button>

              </div>
            </li>
          </template>
        </ul>
      </section>
    </main>
    <footer class="footer page__section">
      <p class="footer__text">2025 © Alicia McKinney</p>
    </footer>

    <div class="modal" id="edit-modal">
      <div class="modal__container">
        <button type="button" class="modal__close-button"></button>
        <h2 class="modal__title">Edit Profile</h2>
        <form name="edit-profile" class="modal__form" id="profile-form" novalidate>
          <label for="modal-name" class="modal__label" >
            Name
            <input id="modal-name" type="text" placeholder="Type your name" class="modal__input" minlength="2" maxlength="40" required/>
          </label>
          <span class="modal__error" id="modal-name-error"></span>
          <label for="modal-description" class="modal__label">
            Description
            <input id="modal-description" type="text" placeholder="Describe yourself" class="modal__input" minlength="2" maxlength="200" required/>
          </label>
          <span class="modal__error" id="modal-description-error"></span>
          <button type="submit" class="modal__submit-button">Save</button>
        </form>
      </div>
    </div>

    <div class="modal" id="post-modal">
      <div class="modal__container">
        <button type="button" class="modal__close-button"></button>
        <h2 class="modal__title">New Post</h2>
        <form name="add-post" class="modal__form" id="post-form" novalidate>
          <label for="modal-link" class="modal__label" >
            Image link
            <input id="modal-link" type="url" placeholder="Paste a link to the picture" class="modal__input"  required/>
          </label>
          <span class="modal__error" id="modal-link-error"></span>
          <label for="modal-caption" class="modal__label">
            Caption
            <input id="modal-caption" type="text" placeholder="Type your caption" class="modal__input" minlength="2" maxlength="30"  required/>
          </label>
          <span class="modal__error" id="modal-caption-error"></span>
          <button type="submit" class="modal__submit-button" >Save</button>
        </form>
      </div>
    </div>

    <div class="modal modal_type_preview" id="photo-modal">
      <div class="modal__photo-content">
        <button type="button" class="modal__close-button modal__close-button_type_preview"></button>
        <img class="modal__image" src="" alt="">
        <p class="modal__caption"></p>
      </div>
    </div>

    <div class="modal" id="delete-modal">
      <div class="modal__delete-container">
        <button type="button" class="modal__close-button modal__close-button_type_preview"></button>
        <h3 class="modal__delete-text">Are you sure you want to delete this image?</h3>
        <form class="modal__delete-buttons" id="delete-form">
          <button type="submit" class="modal__delete-button">Delete</button>
          <button type="button" class="modal__cancel-button">Cancel</button>
        </form>
      </div>
    </div>

      <div class="modal" id="avatar-modal">
      <div class="modal__container">
        <button type="button" class="modal__close-button"></button>
        <h2 class="modal__title">Edit profile avatar</h2>
        <form name="edit-avatar" class="modal__form" id="avatar-form" novalidate>
          <label for="modal-avatar" class="modal__label">
            Profile Picture
            <input id="modal-avatar" type="url" placeholder="Paste a link to an image" class="modal__input"  required/>
          </label>
          <span class="modal__error" id="modal-avatar-error"></span>
          <button type="submit" class="modal__submit-button modal__avatar-button">Save</button>
        </form>
      </div>
    </div>

  </div>
  <script type="module" src="../scripts/index.js"></script>
</body>
</html>